<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <% if( time==="weekday" ) {%>
            Weekday Warrior
            <% } else { %>
                Weekend Sloth
                <% } %>
    </title>
</head>

<body>
    <h1> Hey! It's <%= time %> , it's time to <%= action %>
    </h1>
</body>

</html>